[submodule "minisat"]
	path = minisat
	url = https://github.com/niklasso/minisat.git
[submodule "cryptominisat"]
	path = cryptominisat
	url = https://github.com/msoos/cryptominisat.git
[submodule "p-mcomsps-str"]
	path = p-mcomsps-str
	url = https://github.com/vvallade/p-mcomsps-str.git
